@font-face {
  font-family: 'Digital';
  src: url("../Fontes/digital-7.ttf");
}
@font-face{
  font-family: 'Arcade';
  src: url("../Fontes/ka1.ttf");
}
@font-face{
  font-family: 'Icon';
  src: url("../Fontes/icons8-editar-24.png");
}
*{
    margin: 0;
    padding: 0;

    text-align: center;
}
  .color-button{
    float: left;
    background-color: #070000;
    color:#a69eb0;
    background-image: url("../Fontes/icons8-editar-24.png");
  }
  #input-json{
    display: none;
    
  }
  #label-input{
    display: inline-block;
    width: 8vw;
    height: 5vh;
    background-color: rgb(233, 233, 233);
   
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.5vw;
    margin-top: 10px;
  }
