@font-face {
  font-family: 'Digital';
  src: url("../Fontes/digital-7.ttf");
}
@font-face{
  font-family: 'Arcade';
  src: url("../Fontes/ka1.ttf");
}
@font-face{
  font-family: 'Icon';
  src: url("../Fontes/icons8-editar-24.png");
}
*{
    margin: 0;
    padding: 0;

    text-align: center;
}
.placar-container{
    display: inline-block;
    text-align: center;
    min-width: 40vw;
    min-height: 40vh;
    background-color: #070000;
    border-radius: 25px;
    margin: 20px;

  }
  .placar-container-container{
    /*position: relative; */
    margin: 0 auto;
    margin-top: 15px;
    width: 35vw;
    min-height: 30vh;
    max-height: 60vh;
    background-color: #3f0c1a;
    border-radius: 25px 25px 0px 0px;
    
  }
  .placar-name{
    font-family: arcade;
    font-size: 20pt;
    margin-top: 1vh;
    display: inline-block;
    background-color: #070000;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 45vh;
    color:#a69eb0;
  }
  p{
    display: inline-block;
  }
  .placar-points-container{
    text-align: center;
  }
  .placar-points{
    background-color: #070000;
    color: #a69eb0;
    font-size: 100pt;
    font-family: Digital;
    height: 120px;
    width: 110px;
    margin-bottom: 10px;
  }
  .placar-points-left{
    margin-right: 20px;
  }
  .placar-point-right{
    margin-left: 20px;
  }
  .placar-button{
    width: 8vw;
    height: 5vh;
    font-size: 2vw;
    margin-top: 2vh;
    border: none;
  }
  .buttons-addsub{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
  }
  .placar-button-add{
    font-size: 4vh;
    border-radius: 0px 10px 10px 0px;
    width: 25vh;
    color: #070000;
  }  
  .placar-button-sub{
    font-size: 4vh;
    border-radius: 10px 0px 0px 10px;
    width: 25vh;
    color: #070000;
  }
  .d-block {
    display: block;
  }
  .delet-placar-button{
   float: right;
   background-color: #070000;
   color: #292222;
   margin-right: 10px;
   margin-top: 8px;
  }
  .delet-placar-button:hover{
    color: #6D6666;
    cursor: pointer;
  }
  .color-button{
    float: left;
    background-color: #070000;
    color:#a69eb0;
    background-image: url("../Fontes/icons8-editar-24.png");
  }
  #input-json{
    display: none;
    
  }
  #label-input{
    display: inline-block;
    width: 8vw;
    height: 5vh;
    background-color: rgb(233, 233, 233);
   
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.5vw;
    margin-top: 10px;
  }

  MochilaBottomUp(n, v, w, W){
    Seja M[0..n][0..W] uma matriz
    para X = 0 até W faça
      M[0][X] = 0
    para  j = 0 até n faça
      M[j][0] = 0
    para j = 1 até n faça
      Para X = 0 até W faça
        se wj > X então
          M[j][X] = M[j-1][X]
        senão
          usa = vj + M[j-1][X-wj]
          naousa = M[j-1][X]
            M[j][X]
  Retorna M[n][W]
  }